

/* Fuma  16.x 制定了toc的计算逻辑，这里强制覆盖*/
#nd-toc {
  top: 120px !important;
}


/* Custome Fuma Steps */
.fd-step::before {
  @apply size-5 -start-2.5 rounded-full;
  background-color: #000; 
  color: #fff;
  font-size: 0.75rem; 
  line-height: 1rem;
  margin-top: 0.4rem !important;
}
.dark .fd-step::before {
  background-color: #fff !important; 
  color: #000 !important;
}

:root {
  --fd-layout-width: 100vw;
  --fd-banner-height: 0px;       /* 如果有 banner，可换成真实高度 */
  --fd-nav-height: 0px;         /* 这里写你的 Header 实际高度 */
  --fd-tocnav-height: 0px;      /* 可选：移动端 TOC 顶栏高度 */
}

/* fuma image-zoom COPY */

[data-rmiz] {
  display: block;
  position: relative;
}

[data-rmiz-ghost] {
  pointer-events: none;
  position: absolute;
}

[data-rmiz-btn-zoom],
[data-rmiz-btn-unzoom] {
  display: none;
}

[data-rmiz-content='found'] img {
  cursor: zoom-in;
}

[data-rmiz-modal][open] {
  width: 100vw /* fallback */;
  width: 100dvw;

  height: 100vh /* fallback */;
  height: 100dvh;

  background-color: transparent;
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
}

[data-rmiz-modal]:focus-visible {
  outline: none;
}

[data-rmiz-modal-overlay] {
  transition: background-color 0.3s;
  position: absolute;
  inset: 0;
}

[data-rmiz-modal-overlay='hidden'] {
  background-color: transparent;
}

[data-rmiz-modal-content] {
  width: 100%;
  height: 100%;
  position: relative;
}

[data-rmiz-modal]::backdrop {
  display: none;
}

[data-rmiz-modal-img] {
  cursor: zoom-out;
  image-rendering: high-quality;
  transform-origin: 0 0;
  transition: transform 0.3s;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  [data-rmiz-modal-overlay],
  [data-rmiz-modal-img] {
    transition-duration: 0.01ms !important;
  }
} 