/* 有 Banner 时 */
.has-banner .sticky.top-0.z-40 {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  z-index: 1001 !important;
  height: 3rem !important;
  min-height: 3rem !important;
  max-height: 3rem !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
.has-banner header#nd-nav {
  top: 2.5rem !important;
}

/* 无 Banner 时 */
.no-banner .sticky.top-0.z-40 {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  z-index: 1001 !important;
  height: 0.5rem !important;
  min-height: 0.5rem !important;
  max-height: 0.5rem !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
.no-banner header#nd-nav {
  top: 0rem !important;
}

.has-banner main,
.has-banner .main-content {
  padding-top: 3rem; /* Banner高度 */
}
.no-banner main,
.no-banner .main-content {
  padding-top: 0.5rem; /* Banner高度 */
}

/* 自定义 Fuma 步骤组件背景色：暗色主题为白，亮色主题为黑 */
.fd-step::before {
  @apply size-5 -start-2.5 rounded-full;
  background-color: #000; /* 默认亮色主题为黑 */
  color: #fff;
  font-size: 0.75rem;      /* 更小的字体 */
  line-height: 1rem;
  margin-top: 0.4rem !important;
}
.dark .fd-step::before {
  background-color: #fff !important; /* 暗色主题为白 */
  color: #000 !important;
}

/* fuma image-zoom样式 COPY */

[data-rmiz] {
  display: block;
  position: relative;
}

[data-rmiz-ghost] {
  pointer-events: none;
  position: absolute;
}

[data-rmiz-btn-zoom],
[data-rmiz-btn-unzoom] {
  display: none;
}

[data-rmiz-content='found'] img {
  cursor: zoom-in;
}

[data-rmiz-modal][open] {
  width: 100vw /* fallback */;
  width: 100dvw;

  height: 100vh /* fallback */;
  height: 100dvh;

  background-color: transparent;
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
}

[data-rmiz-modal]:focus-visible {
  outline: none;
}

[data-rmiz-modal-overlay] {
  transition: background-color 0.3s;
  position: absolute;
  inset: 0;
}

[data-rmiz-modal-overlay='hidden'] {
  background-color: transparent;
}

[data-rmiz-modal-content] {
  width: 100%;
  height: 100%;
  position: relative;
}

[data-rmiz-modal]::backdrop {
  display: none;
}

[data-rmiz-modal-img] {
  cursor: zoom-out;
  image-rendering: high-quality;
  transform-origin: 0 0;
  transition: transform 0.3s;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  [data-rmiz-modal-overlay],
  [data-rmiz-modal-img] {
    transition-duration: 0.01ms !important;
  }
} 